<div class="min-vh-100 panel">
	<div
		class="min-vh-100 container-fluid fajc bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-cover bgi-attachment-fixed py-5"
		[style]="'background-image: url(' + PIC.primary_bg1 + ')'">
		<app-login-form3></app-login-form3>
	</div>
	<div
		class="min-vh-100 container-fluid fajc bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-cover bgi-attachment-fixed py-5"
		[style]="'background-image: url(' + PIC.bgi_dark_10 + ')'">
		<app-login-form2></app-login-form2>
	</div>
</div>
