<div class="card card-fulid">
	<div *ngIf="isDisplay.header" class="card-header border-0 mt-4">
		<div class="card-title d-flex align-items-start justify-content-start flex-column">
			<span class="fw-bolder">{{ title }}</span>
			<span *ngIf="isDisplay.subtitle" class="text-muted fw-bolder fs-7">{{ subtitle }}</span>
		</div>
		<ng-container *ngIf="isDisplay.toolbar">
			<ng-content select="[toolbar]"></ng-content>
		</ng-container>
	</div>
	<div class="card-body">
		<ng-content select="[body]"></ng-content>
	</div>
	<div *ngIf="isDisplay.footer" class="card-footer">
		<ng-content select="[footer]"></ng-content>
	</div>
</div>
